@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.elements{
  background-color: hsl(0, 0%, 100%);
}
.elements-padding{
  padding: 5px 0px;
}
.shadow{
  box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 500px) {
  .container{
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* NAVBAR */



.navbar .header1{
  font-size: 18px;
  font-weight: bold;
}

.navbar .header2{
  font-size: 14px;
  padding-left: 5px;
}

/* LISTITEMS */

.listItems .container{
  flex-flow: row wrap;
  justify-content: center;
  
}

@media (min-width: 500px) {
  .listItems .container{
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
  }
}

/* CARD */

.card{
  width: 260px;
  height: 300px;
  margin: 20px 40px
}

@media (min-width: 500px) {
  .card{
    width: 220px;
    height: 290px;
    margin: 20px 40px
  }
}


.card-image {
  width: 100%;
  height: 52%;
}

.card .flag{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body{
  padding: 10px 20px;
  height: 48%;
}

.card-title {
  margin-bottom: 8px;
  margin-top: 5px;
}
.card-title span{
  font-size: 16px;
  font-weight: bolder;
}

.card-resume span{
  font-size: 12px;
}

.card-resume .detail-key{
  font-weight: bold;
}


